body {
	margin: 10px;
}

table {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.submit_form {
	width: 50%;
	margin-left: 25%;
}

h4 {
	color: red;
}

.previous, 
.next {
	margin-top: 10px;
}
